{% load static %}

    <!-- Navbar Start -->
    {% if page == 'home' %}
    <div class="container-fluid mb-5">
        {% else %}
    <div class="container-fluid">
    {% endif %}
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                {% if page == 'home' %}
                    <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                {% else %}
                    <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" style= "width: 90%" id="navbar-vertical">
                {% endif %}
                
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">

                        {% comment %}! KATEGORI KISMINI GETIRME {% endcomment %}
                        {% load mptt_tags %}
                            {% recursetree category %}
                                {% if node.is_leaf_node %}
                                    <a href="/category/{{ node.id }}/{{ node.slug }}" class="nav-item nav-link">{{ node.title }}</a>
                                {% else %}
                                    <div class="nav-item dropdown my-1">
                                        <a href="/category/{{ node.id }}/{{ node.slug }}" class="nav-link" data-toggle="dropdown">{{ node.title }} <i class="fa fa-angle-down float-right mt-1"></i></a>
                                        
                                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                            <a href="/category/{{ node.id }}/{{ node.slug }}" class="nav-item nav-link">{{ node.title }}</a>
                                            <a href="/category/{{ children.id }}/{{ children.slug }}">{{ children }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                        {% endrecursetree %}

                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="/home" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/home" class="nav-item nav-link active">Home</a>
                            <a href="/shop" class="nav-item nav-link">Shop</a>
                            <a href="/detail" class="nav-item nav-link">Shop Detail</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/order/shopcart" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                            </div>
                            <a href="/iletisim" class="nav-item nav-link">-Contact-</a>
                            <a href="/referanslar" class="nav-item nav-link">-References-</a>
                            <a href="/hakkimizda" class="nav-item nav-link">-About Us-</a>
                        </div>

                        <div class="navbar-nav ml-auto py-0">
                            {%  if user.id is not None %}
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> Merhaba {{ user.username }}</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/user"  class="dropdown-item">User Profile</a>
                                    <a href="/user/orders"  class="dropdown-item">My Orders</a>
                                    <a href="/user/orders_product"  class="dropdown-item">My Order Product</a>
                                    <a href="/user/comments"  class="dropdown-item">My Comments</a>
                                    <a href="/user/favorits"  class="dropdown-item">My Favorits</a>
                                    <a href="/user/products"  class="dropdown-item">My Products</a>
                                    <a href="/logout"  class="dropdown-item">Logout</a>
                                </div>
                            </div>
                                {% else %}
                                <a href="/login" class="nav-item nav-link">Login</a>
                                <a href="/signup" class="nav-item nav-link">Signup</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
                {% if page == 'home' %}
                
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                            {% comment %}! SLIDER KISMI {% endcomment %}
                    {% for slide in slider %}
                        <div class="carousel-item {% if slide == slider.first %}active{% endif %}" style="height: 410px;">
                            <img class="img-fluid" src="{{ slide.image.url }}" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">{{ slide.title }}</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">{{ slide.description }}</h3>
                                    <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Navbar End -->
